html/**/*.html
!html/Calculus/GoogleAnalytics.pl
!html/Calculus/mfg-common.xsl
!html/Calculus/mfg-html.xsl
!html/Contemporary/GoogleAnalytics.pl
!html/Contemporary/mfg-common.xsl
!html/Contemporary/mfg-html.xsl
html/FYM
!html/PreCalculus/GoogleAnalytics.pl
!html/PreCalculus/mfg-common.xsl
!html/PreCalculus/mfg-html.xsl
.DS_Store
.*
!.gitignore
OERSource/Calc/2019-2020/update.xml
