html/Calculus/*
html/Calculus/knowl/**
!html/Calculus/GoogleAnalytics.pl
!html/Calculus/mfg-common.xsl
!html/Calculus/mfg-html.xsl
!html/Calculus/images/*
html/Contemporary/**
!html/Contemporary/GoogleAnalytics.pl
!html/Contemporary/mfg-common.xsl
!html/Contemporary/mfg-html.xsl
!html/Contemporary/images
html/FYM
html/PreCalculus/**
!html/PreCalculus/GoogleAnalytics.pl
!html/PreCalculus/mfg-common.xsl
!html/PreCalculus/mfg-html.xsl
!html/PreCalculus/images
.DS_Store
